*{
  margin: 0 auto;
  padding: 0;

}

#root2{
    height: 200px;
    width: 300px;
    background-color: gray;
    position: absolute;
    margin: 0 auto;
    padding: 0;
    border: black auto 1px;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#form{
  height: 50px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#login{
  height: 20px;
  width: 160px;
  font-size: 18px;
}

#reset2{
  display: block;
  width: 200px;
}

#zaloguj, #reset{
  font-size: 18px;
}
